// Typography
$f-serif: "Volkhov", serif;
$f-sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors
$c-white: #fff;
$c-off_white: #f6f6f6;
$c-dark_green: #0a2126;
$c-dark_aqua: #033649;
$c-aqua: #036564;
$c-brown: #cdb380;
$c-cream: #e8ddcb;

// Functional name for colors 
$c-hero-bg: #eee;
