/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* Normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
html { font-family: sans-serif; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }
body { margin: 0; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
h1 { font-size: 2em; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }
button, input { line-height: normal; }
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }
table { border-collapse: collapse; border-spacing: 0; }

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:12px;
	background: #ccc;
}

.center-wrapper {
	width: 670px; /* for width: 7in; */
	page-break-after: always;
	margin: 4em auto;
	padding: 1em 0;
	background: #fff;
	-moz-box-shadow: 3px 3px 5px 6px #888;
	-webkit-box-shadow: 3px 3px 5px 6px #888;
	box-shadow: 3px 3px 5px 6px #888;
}

.save-to-pdf {
	position: fixed;
	top:0;
	left:0;
	text-align: center;
	font-size: 1.5em;
	background-color:#444;
	z-index: 2;
	width: 100%;
	padding: .5em 0	;
	-webkit-box-shadow: -7px 8px 6px -7px #444;
	-moz-box-shadow: -7px 8px 6px -7px #444;
	box-shadow: -7px 8px 6px -7px #444;
	color: #e5dbcf;
	text-decoration: none;
	opacity:.9;
}

.save-to-pdf:hover {
	opacity: 1;
}

#name-disclaimer {
	width: 100%;
	text-align: center;
}

#personal-deets span, #my-name {
	display: inline-block;
	vertical-align: top;
	color: #8d8e71;
	line-height: .8;
	font-size: 1.2em;
}

#my-name {
	width: 46%;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
	font-size: 6em;
	text-transform: uppercase;
	text-align: left;
}

#my-name:first-line { font-size: 1.18em; }

#personal-deets {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 1.3em;
	padding-top: 10px;
}

#personal-deets a {
	color: #afb09d;
	text-decoration: none;
}

#personal-deets a:hover {
	color: #63634F;
}

#mini-logo {
	padding: .25em .5em .75em 1.2em;
}

#mini-logo img {
	width: 65px;
}

#my-email {
	padding: 1.8em 0;
}

#my-street, #my-region, #my-website, #my-email {
	padding: 0 1em .75em 1.2em;
}

.qualifications, .skills {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #778592;
}

.qualifications {
	width: 60%;
	padding-right: 2em;
}

.skills {
	width: 30%;
}

.section-title {
	position: absolute;
	color: #8d8e71;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    -ms-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg);
}

.section-title:before {
	content: "{ ";
	color: #c83355;
}

.section-title:after {
	content: " }";
	color: #c83355;
}

.education, .experience, .skills {
	position: relative;
	border-left: 1px dashed #afb09d;
	margin:0 0 2em 3em;
	padding-left: 1em;
}

.experience .section-title {
	top: 2em;
	left: -4.5em;
}

.education .section-title {
	top: 1.75em;
	left: -4.25em;
}

.skills .section-title {
	top: .5em;
	left: -3.25em;
}

.job, .university {
	margin-bottom: 1em;
}

.job-duration, .job-title, .degree {
	margin: .25em 0;
}

.company, .job-desc {
	color: #939ea9;
	margin: .25em 0;
}

.skills ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.5;
}

@media print {
	body {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-size:12px;
		background: #fff;
	}
	
	.save-to-pdf {
		display: none;
	}

	.center-wrapper {
		width: 670px; /* for width: 7in; */
		page-break-after: always;
		background: #fff;
		margin: 0;
		padding: 0;
		-moz-box-shadow: 0;
		-webkit-box-shadow: 0;
		box-shadow: 0;
	}	
}