// About
.about-outer {
  @extend %content-area;
  background: $c-white;
}

.about {
  @extend %container;
}

.about-intro {
  @extend %content-intro;
}

.about-description {
  @extend %content-description;

  p {
    margin-bottom: 20px;
  }
}


// Skills
.skills-outer {
  @extend %content-area;
  background: $c-off_white;
}

.skills {
  @extend %container;
}

.skills-intro {
  @extend %content-intro;
  width: 100%;
  margin-bottom: 30px;

  @include bp(mama-bear) {
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

.skills-description {
  @extend %content-description;
  width: 100%;
}

.skills-tool {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;

  &:first-child {
    padding-left: 0;
  }

  @include bp(mama-bear) {
    width: 33%;
    width: calc(100% / 3);
  }

  p {
    max-width: 550px;
    padding-right: 10px;

    @include bp(mama-bear) {
      font-size: .9em;
    }
  }
}

.skills-tools-content {
  text-align: left;

  @include bp(sister-bear) {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 80px);
    padding-left: 40px;
  }

  @include bp(mama-bear) {
    width: 100%;
  }

  h3 {
    line-height: 1;
    margin-bottom: 10px;
  }
}

%skills-icon {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  width: 80px;
  padding-top: 15px;
  margin-bottom: 20px;
  background: $c-aqua;
  border-radius: 50%;
  color: $c-off_white;
  text-align: center;
  font-size: 40px;

  @include bp(mama-bear) {
    height: 128px;
    width: 128px;
    padding-top: 17px;
    margin-bottom: 40px;
    font-size: 70px;
  }
}

.skills-tool-icon--education {
  @extend %skills-icon;

  &:before {
    @include icon-stuff();
    @extend .icon-pen:before;
  }
}

.skills-tool-icon--experience {
  @extend %skills-icon;
  padding: 11px 20px 0px 10px;

  &:before {
    @include icon-stuff();
    @extend .icon-paperplane:before;
  }
}

.skills-tool-icon--passion {
  @extend %skills-icon;

  &:before {
    @include icon-stuff();
    @extend .icon-heart:before;
  }
}

// Look at me github section
.look_at_me-outer {
  @extend %content-area;
  background: $c-dark_green;
  color: $c-off_white;

  a {
    color: $c-off_white;

    &:hover {
      color: $c-cream;
    }
  }

  .icon-github {
    font-size: 70px;
    text-decoration: none;
  }
}

.look_at_me {
  @extend %container;
}

.look_at_me-intro {
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;

  @include bp(mama-bear) {
    display: block;
    width: 100%;
    padding-top: 60px;
    margin: auto;

    .look_at_me-description + & {
      padding-top: 0;
    }
  }
}

.look_at_me-icon {
  @include bp(mama-bear) {
    display: inline-block;
    width: 70px;
    height: 70px;
  }
}

.look_at_me-description {
  @extend %content-description;
  width: calc(100% - 100px);
  max-width: 760px;
  display: block;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-style: italic;

  a {
    text-decoration: underline;
  }
}

// About
.work-outer {
  @extend %content-area;
}

.work {
  @extend %container;
}

.work-intro {
  @extend %content-intro;
}

.work-description {
  @extend %content-description;
}

.work-item {
  margin-bottom: 30px;

  p {
    margin-bottom: 10px;

    a {
      text-decoration: underline;
    }
  }
}
