// CSS Reset
@import
"lib/reset";

// Globals
@import 
"globals/breakpoints",
"globals/variables",
"globals/fonts",
"globals/mixins",
"globals/icons",
"globals/base",
"globals/layout";

// Modules
@import
"modules/hero",
"modules/footer",
"modules/header";

// Pages
@import
"pages/home";