footer.main_footer
  ul#contact.main_footer-container
    li.contact-item
      a(href="mailto:alex.miley@gmail.com")
        .icon-mail
        | alex.miley

    li.contact-item
      a(href="tel:5105997639")
        .icon-phone
        | (510) 599-7639

    li.contact-item
      a(href="/resume/index.html" target="_blank")
        .icon-note
        | My r&eacute;sum&eacute;

    li.contact-item
      a(href="http://www.twitter.com/lavalight" target="_blank")
        .icon-twitter
        | lavalight

    li.contact-item
      a(href="http://www.linkedin.com/in/amiley" target="_blank")
        .icon-linkedin
        | amiley

    li.contact-item
      a(href="https://github.com/yaksandpie" target="_blank")
        .icon-github
        | yaksandpie

    li.contact-item
      a(href="http://codepen.io/yaksandpie/pens/public/" target="_blank")
        svg(class="svg_icon-codepen" viewBox="80 80 350 350" height="40px" width="40px" xmlns="http://www.w3.org/2000/svg")
          path(fill="currentColor" d="M427 201.9c-0.6-4.2-2.9-8-6.4-10.3L264.2 87.3c-4.9-3.3-11.4-3.3-16.3 0L91.4 191.6c-4 2.7-6.5 7.4-6.5 12.2v104.3c0 4.8 2.5 9.6 6.5 12.2l156.4 104.3c4.9 3.3 11.4 3.3 16.3 0L420.6 320.4c4-2.6 6.6-7.4 6.6-12.2V203.9C427.1 203.2 427.1 202.6 427 201.9 427 201.7 427.1 202.6 427 201.9zM270.7 127.1l115.2 76.8 -51.5 34.4 -63.8-42.7V127.1zM241.3 127.1v68.6l-63.8 42.7 -51.5-34.4L241.3 127.1zM114.3 231.4l36.8 24.6 -36.8 24.6V231.4zM241.3 384.9L126.1 308.1l51.5-34.4 63.8 42.6V384.9zM256 290.8l-52-34.8 52-34.8 52 34.8L256 290.8zM270.7 384.9V316.3l63.8-42.6 51.5 34.4L270.7 384.9zM397.7 280.6l-36.8-24.6 36.8-24.6V280.6z")
        | yaksandpie
