footer.main_footer
  #contact.main_footer-container
    .contact-item
      a(href="mailto:alex.miley@gmail.com")
        .icon-mail
        | alex.miley

    .contact-item
      a(href="tel:5105997639")
        .icon-phone
        | (510) 599-7639

    .contact-item
      a(href="/resume/index.html" target="_blank")
        .icon-note
        | My r&eacute;sum&eacute;

    .contact-item
      a(href="http://www.twitter.com/lavalight" target="_blank")
        .icon-twitter
        | lavalight

    .contact-item
      a(href="http://www.linkedin.com/in/amiley" target="_blank")
        .icon-linkedin
        | amiley

    .contact-item
      a(href="https://github.com/yaksandpie" target="_blank")
        .icon-github
        | yaksandpie