header.main_header
  .main_header-inner
    a.monogram(href='/')
      span.monogram-letter A
      span.monogram-letter M

    nav.main_nav
      a.main_nav-link(href='#about') About
      a.main_nav-link(href='#skills') Skills
      a.main_nav-link(href='#work') Work
      a.main_nav-link(href='#contact') Contact
