extends ../shared/layout

block content
  section.hero
    .hero-inner
      h1.hero-description
        | Hello!
        br
        | My name is&nbsp;
        em Alex Miley
        br
        | and I'm a web developer.


  .about-outer
    section#about.about
      section.about-intro So, you're wondering why I'm different.
      section.about-description
        p I implement design with usability, simplicity, and the user in mind. I specialize in user interface development and user experience with a strong fluency on front-end development. That's not to say that I don't have back-end chops.
        p Tools and techniques: HTML5 [Slim, Jade, Haml], CSS3 [Sass, SCSS, SMACSS], BEM, Javascript [es6, React, jQuery, Coffeescript], Ruby on Rails, Node, Grunt, and MORE!

  .skills-outer
    section#skills.skills
      section.skills-intro I'm a bona fide professional, for reals.
      section.skills-description
        .skills-tool
          span.skills-tool-icon--education
          .skills-tools-content
            h3 Education
            p I have a Bachelor's in Computer Science where I focused on the front-end. I fit in some studies on usabiliy and user experience during that time as well. My Master's in Library and Information Science is wonderfully complimentary to computer science. There, I honed my information architecture skills as well as continued my empathy and compassion for the end-user.

        .skills-tool
          span.skills-tool-icon--experience
          .skills-tools-content
            h3 Experience
            p I’ve worked all around the world! I started out working in California and then headed to Germany for a few years. Working with different cultures and with different mindsets has truly added to a well-rounded approach to development.

        .skills-tool
          span.skills-tool-icon--passion
          .skills-tools-content
            h3 Passion
            p There’s nothing like sitting down and watching someone use something that you've created - This opportunity to refine the project is golden. That, along with all the great things coming from front-end technologies, make this an amazing time to be a front-end developer.


  aside.look_at_me-outer
    section.look_at_me
      section.look_at_me-intro
        a(href="https://github.com/yaksandpie/alexmiley" class="look_at_me-icon" target="_blank")
          span.icon-github
      section.look_at_me-description
        | This site was made using a Grunt workflow using Jade templates and a SCSS foundation. Head on over to #[a(href="https://github.com/yaksandpie/alexmiley" target="_blank") my Github account] to view the source.

      section.look_at_me-intro
        a(href="https://github.com/yaksandpie/alexmiley" class="look_at_me-icon" target="_blank")
          svg(viewBox="80 80 350 350" height="70px" width="70px" xmlns="http://www.w3.org/2000/svg")
            path(fill="currentColor" d="M427 201.9c-0.6-4.2-2.9-8-6.4-10.3L264.2 87.3c-4.9-3.3-11.4-3.3-16.3 0L91.4 191.6c-4 2.7-6.5 7.4-6.5 12.2v104.3c0 4.8 2.5 9.6 6.5 12.2l156.4 104.3c4.9 3.3 11.4 3.3 16.3 0L420.6 320.4c4-2.6 6.6-7.4 6.6-12.2V203.9C427.1 203.2 427.1 202.6 427 201.9 427 201.7 427.1 202.6 427 201.9zM270.7 127.1l115.2 76.8 -51.5 34.4 -63.8-42.7V127.1zM241.3 127.1v68.6l-63.8 42.7 -51.5-34.4L241.3 127.1zM114.3 231.4l36.8 24.6 -36.8 24.6V231.4zM241.3 384.9L126.1 308.1l51.5-34.4 63.8 42.6V384.9zM256 290.8l-52-34.8 52-34.8 52 34.8L256 290.8zM270.7 384.9V316.3l63.8-42.6 51.5 34.4L270.7 384.9zM397.7 280.6l-36.8-24.6 36.8-24.6V280.6z")
      section.look_at_me-description
        | Also, take a peek at my sandbox area over on #[a(href="http://codepen.io/yaksandpie/pens/public/") my Codepen account].


  .work-outer
    section#work.work
      section.work-intro Here's some stuff I've work on.
      section.work-description
        .work-item
          h3 Idealist.org
          p The mission of the organization is what initially caught my eye (and heart). I was on the Communciations and Engagement team. We responded to the digital needs of the organization in terms of its mission. I worked with a legacy codebase written in Python and using Genshi templates styled with Sass. After a quick assessement on the front-end, I knew my first task was to remove the dependency on Compass so that I was able to upgrade Sass above 3.2. A refactor and some changes to the build system to use node-sass rather than Ruby for Sass had not only opened the door to the latest and greatest features but also cut the build time by 50%. At that point, I had inherited the CSS infrastructure and became the primary developer for the site styles. React and Javascript were on the list of heavily used technologies for me. With React, I was able to build the Our Team, /Idealists, and the About Us pages. Before Idealist closed its doors on the developer office, I was undergoing a site-wide refactor to unify design styles.
          p The technologies being used are: Javascript, React, SCSS, Python, Genshi templates, Optimizely, Google Analtyics.

        .work-item
          h3 JobHunt: A Personal Project
          p I always found it challenging while looking for different work to keep track of the various positions that I've applied for and in what state those positions are in (i.e. Did I actually apply? Have I heard back? Did I get an interview?). So, in order to put some order into the job hunt, I created a quick little web app that does that for me. #[a(href="https://github.com/yaksandpie/jobhunt" target="_blank") JobHunt] is that web app. Built in Ruby on Rails and from scratch. This project put me in the seat as a full-stack dev as I delved into every nook and cranny of Rails.

        .work-item
          h3 FINE Design Group
          p Working at a digital agency has given me more experience than I had originally anticipated. I was able to be lead front-end developer on many projects including, but not limited to, #[a(href="http://www.kimptonhotels.com" target="_blank") Kimpton Hotels], #[a(href="http://www.dcm.com" target="_blank") DCM Ventures] (this project was a back-end as well as front-end challenge for me), and #[a(href="https://www.ste-michelle.com/" target="_blank") Chateau Ste. Michelle]. I worked on a handful of internal projects, such as a repository for designs and slideshows. Working with highly talented designers was immensely useful for me as I learned pixel-perfect development as well as refining my negotiation skills when a design got a bit out of scope.
          p The technologies being used are: Ruby on Rails, Sass (SCSS syntax), and jQuery. I was fortunate enough to develop a BEM-like syntax that is now being used on products called #[a(href="www.wearefine.com/mingle/talking-about-bum/" target="_blank") BUM]. I wrote up a brief description of it on the company #[a(href="www.wearefine.com/mingle/talking-about-bum/" target="_blank") blog].

        .work-item
          h3 PPRO Financial Ltd.
          p I once lived in Munich for a few years. During that time, I worked as a freelancer at PPRO. I was responsible for a few internal applications and the major consumer-facing prepaid credit card sign-up page, #[a(href="http://www.viabuy.com/en/order-card" target="_blank") Viabuy]. I had to work with the designer, who created the marketing site, and recreate his vision into the framework we were using for the back-end engineers.
          p The template engine that was being used was Mako using jQuery.

        .work-item
          h3 Experteer GmbH
          p One client in Munich was going through a rebranding and asked me to work their #[a(href="http://eu.experteer.com/about-us/en/contact_us/index.html" target="_blank") About Us] section. This was a straight-forward project with static content. The fun was designing the UI from scratch and have it match the rebranding from the rest of the site.

        .work-item
          h3 CHIP Xonio Online GmbH
          p Also in Munich, I was able to work as a User Experience Developer for the popular #[a(href="http://www.chip.de" target="_blank") Chip.de]. Their UI team was growing and needed freelance support. I was able to take the lead and design/implement the new #[a(href="http://suche.chip.de/?q=iphone" target="_blank") Search page]. I assisted in numerous usability tests and helped in various other places in #[a(href="http://www.chip.de" target="_blank") Chip.de].
          p The template engine that was being used was Smarty using jQuery.

        .work-item
          h3 Innovative Interfaces, Inc.
          p My professional career began as a User Interface Engineer. Mainly, I helped support the UI on the #[a(href="http://encoreforlibraries.com/" target="_blank") Encore] (a library catalog search/discovery system) product in a 3-5 person team. I became the UI Engineer lead for a product called #[a(href="http://www.iii.com/products/reporter.shtml" target="_blank") Reporter] (an internal application used by libraries to analyze statistics). As a team, we initiated the company's first usability tests on Encore, which was awesome!
          p The framework that was being used was Tapestry 4.1 using Dojo. Also, the occasional splash of JSP was needed to understand some other products.
