extends ../shared/layout

block content
  section.hero
    .hero-inner
      h1.hero-description 
        | Hello! 
        br
        | My name is 
        em Alex Miley
        br
        | and I'm a web developer.


  .about-outer
    section#about.about
      section.about-intro So, you're wondering what I'm different.
      section.about-description I am a web developer dedicated to the user. I specialize in UI Design and UX with strong fluency on front-end development. I implement design with usability, simplicity, and the user in mind. I have experience working with and understanding a myriad of users.


  .skills-outer
    section#skills.skills
      section.skills-intro I'm a bonified professional, for reals.
      section.skills-description
        .skills-tool
          span.skills-tool-icon--education
          .skills-tools-content
            h3 Education
            p I have a Bachelor's in Computer Science where I focused on the front-end. I fit in some studies on usabiliy and user experience during that time as well. My Master's in Library and Information Science is wonderfully complimentary to computer science. There, I honed in my information architecture skills as well as continued my empathy and compassion for the end-user.

        .skills-tool
          span.skills-tool-icon--experience
          .skills-tools-content
            h3 Experience
            p I’ve worked all around the world! I started out working in California and then headed to Germany for a few years. Working with different cultures and with different mindsets has truly added to a well rounded approach to development.

        .skills-tool
          span.skills-tool-icon--passion
          .skills-tools-content
            h3 Passion
            p There’s nothing like sitting down and watching a user use something that you’ve created. That opportunity to refine the project is golden. That with all the great things coming out from the front-end technologies make this an amazing time to be a front-end developer.
  

  .look_at_me-outer
    section.look_at_me
      section.look_at_me-intro
        a(href="https://github.com/yaksandpie/alexmiley")
          span.icon-github
      section.look_at_me-description 
        | This site was made using a Grunt workflow using Jade templates and a SCSS foundation. Head on over to #[a(href="https://github.com/yaksandpie/alexmiley") my Github account] to view the source.


  .work-outer
    section#work.work
      section.work-intro Here's some stuff I've work on.
      section.work-description
        .work-item
          h3 FINE Design Group
          p Working at a digital agency has given me more experience than I had originally anticipated. I was able to be lead front-end developer on many projects including, but not limited to, #[a(href="http://www.kimptonhotels.com") Kimpton Hotels], #[a(href="http://www.dcm.com") DCM Ventures] (this project was a back-end as well as front-end challenge for me), and #[a(href="https://www.ste-michelle.com/") Chateau Ste. Michelle]. I worked on a handful of internal projects like a repository for designs and slideshows. Working with highly talented designers was immensely useful for me as I learned the pixel-perfect development as well as refining my negotiation skills when a design got a bit out of scope.
          p The technologies being used are: Ruby on Rails, Sass (SCSS syntax), and jQuery. I was fortunate enough to develop a BEM-like syntax that is now being used on products called #[a(href="www.wearefine.com/mingle/talking-about-bum/") BUM]. I wrote up a brief description of it on the company #[a(href="www.wearefine.com/mingle/talking-about-bum/") blog].

        .work-item
          h3 PPRO Financial Ltd.
          p I once lived in Munich for a few years. During that time, I worked as a freelancer at PPRO. I was responsible for a few internal applications and the major consumer-facing prepaid credit card sign-up page, #[a(href="http://www.viabuy.com/en/order-card") Viabuy]. I had to work with the designer, who created the marketing site, and recreate his vision into the framework we were using for the back-end engineers.
          p The template engine that was being used was Mako using jQuery.

        .work-item
          h3 Experteer GmbH
          p One client in Munich was going through a rebranding and asked me to work their #[a(href="http://eu.experteer.com/about-us/en/contact_us/index.html") About Us] section. This was a straight-forward project with static content. The fun was designing the UI from scratch and have it match the rebranding from the rest of the site.

        .work-item
          h3 CHIP Xonio Online GmbH
          p Also in Munich, I was able to work as a User Experience Developer for the popular #[a(href="http://www.chip.de") Chip.de]. Their UI team was growing and needed freelance support. I was able to take the lead and design/implement the new #[a(href="http://suche.chip.de/?q=iphone") Search page]. I assisted in numerous usability tests and helped in various other places in #[a(href="http://www.chip.de") Chip.de].
          p The template engine that was being used was Smarty using jQuery.

        .work-item
          h3 Innovative Interfaces, Inc.
          p My professional career began as a User Interface Engineer. Mainly, I helped support the UI on the #[a(href="http://encoreforlibraries.com/") Encore] (a library catalog search/discovery system) product in a 3-5 person team. I became the UI Engineer lead for a product called #[a(href="http://www.iii.com/products/reporter.shtml") Reporter] (an internal application used by libraries to analyze statistics). As a team, we initiated the company's first usability tests on Encore, which was awesome!
          p The framework that was being used was Tapestry 4.1 using Dojo. Also, the occasional splash of JSP was needed to understand some other products.



